<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Home</title>
    <style>
        .user-info {
            display: flex;
            align-items: center;
        }

        .logout-link {
            margin-right: 10px;
        }

        .welcome-message {
            margin: 0;
        }
    </style>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}">
</head>
<body>
<div>
    <a href="/">
        <img src="{% static 'img/logo.png' %}" alt="logo" width="64" height="64">
    </a>
    <form method="GET" action="{% url 'home' %}">
        <input type="text" name="q" placeholder="search rooms"/>
    </form>
</div>
    <hr>

    {% if request.user.is_authenticated %}
        <div class="user-info">
            <a href="{% url 'logout' %}" class="logout-link">Logout</a>
            <span class="welcome-message">Hello @{{ request.user }}</span>
        </div>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
    <hr>
</body>
</html>
