<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <style>
        .user-info {
            display: flex;
            align-items: center;
        }

        .logout-link {
            margin-right: 10px;
        }

        .welcome-message {
            margin: 0;
        }
    </style>
</head>
<body>
    <a href="/">
        <h1>LOGO</h1>
    </a>
    <form method="GET" action="{% url 'home' %}">
        <input type="text" name="q" placeholder="search rooms"/>
    </form>

    <hr>

    {% if request.user.is_authenticated %}
        <div class="user-info">
            <a href="{% url 'logout' %}" class="logout-link">Logout</a>
            <span class="welcome-message">Hello @{{ request.user }}</span>
        </div>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
    <hr>
</body>
</html>
